# Git
.git
.gitignore
.dev.vars

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
build

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Misc
.DS_Store
README.md
LICENSE